mixin taskDetails(task)
  .task-details.clearfix
    if (task.level===1 || task.team.length !== task.parent.team.length)
      ul.task-team.list-inline
        each item in task.team
          - var member = tasko.team.getMember(item)
          li
            img(src=member.picture, alt=member.id)
    .task-time.text-muted
      span.task-days.label.label-success= task.days
      |  zile lucrătoare
      if (task.level>1)
        | ; Perioadă: 
        if (task.days > 1)
          time= task.startDate.locale('ro').format('D MMMM')
            | ,  
            = task.startDate.locale('ro').format('dddd')
          |  -  
          time= task.endDate.locale('ro').format('D MMMM')
            | ,  
            = task.endDate.locale('ro').format('dddd')
        else
          time= task.startDate.locale('ro').format('D MMMM')
            | ,  
            = task.startDate.locale('ro').format('dddd')
      if (task.level==1)
        if (task.amount && task.amount.money>0)
          span ; 
            span.label.label-danger= task.amount.money.toLocaleString('ro',{maximumFractionDigits: 0})
            |  lei

mixin taskResources(resources)
  .panel.panel-default.resources
    .panel-heading
      h3.panel-title Resurse
    .panel-body
      each item in resources
        .row
          .col-sm-8
            h5
              a(href=item.product.url)= item.product.name
            p Necesar: 
              = item.size.value.toLocaleString('ro',{maximumFractionDigits: 1})
              |  
              = item.size.unit
              | .  
              span.label.label-info=item.amount.count.toLocaleString('ro', {maximumFractionDigits: 1})
              |  bucăți;
            p Cost: 
              span.label.label-danger=item.amount.money.toLocaleString('ro', {maximumFractionDigits: 0})
              |  lei 
          .col-sm-4
            img.product-picture(src=item.product.picture)
