.subtask
  .row
    .col-sm-4
      - var isDiffCalendar = true
      if (subtaskIndex > 0)
        - var prevSubtask = task.tasks[subtaskIndex-1]
        - isDiffCalendar = prevSubtask.startDate.format('YYYYMMDD') !== subtask.startDate.format('YYYYMMDD') || prevSubtask.endDate.format('YYYYMMDD') !== subtask.endDate.format('YYYYMMDD')
      if (isDiffCalendar)
        .calendar
        .header
          .calendar-cel L
          .calendar-cel Ma
          .calendar-cel Mi
          .calendar-cel J
          .calendar-cel V
          .calendar-cel S
          .calendar-cel D

        - var date = subtask.startDate.clone()
        - var count = 1
        - date.add(-(date.isoWeekday()-1), 'days')
        while (date.isBefore(subtask.endDate, 'day') || date.isSame(subtask.endDate, 'day'))
          if (date.isBefore(subtask.startDate, 'day'))
            .calendar-cel(class='no-day')= date.format('D')
          else
            if (tasko.calendar.isWorkingDate(date))
              if (tasko.calendar.isPartialWorkingDate(date))
                .calendar-cel(class='partial-day')= date.format('D')
              else
                .calendar-cel(class='working-day')= date.format('D')
            else
              .calendar-cel(class='free-day')= date.format('D')
          if (count%7===0)
            br
          - date.add(1, 'days')
          - count++
    .col-sm-8
      h3.task-title= subtaskIndex+1
        | . 
        = subtask.name
      .task-details.clearfix
        ul.task-team.list-inline
          each item in subtask.team
            - var member = tasko.team.getMember(item)
            li
              img(src=member.picture, alt=member.id)
        .task-time.text-muted
          | Perioadă: 
          if (subtask.days > 1)
            time= subtask.startDate.locale('ro').format('D MMMM')
              | ,  
              = subtask.startDate.locale('ro').format('dddd')
            |  -  
            time= subtask.endDate.locale('ro').format('D MMMM')
              | ,  
              = subtask.endDate.locale('ro').format('dddd')
          else
            time= subtask.startDate.locale('ro').format('D MMMM')
              | ,  
              = subtask.startDate.locale('ro').format('dddd')
          | ; Zile lucrătoare: 
          span.task-days.label.label-success= subtask.days
      if (subtask.description)
        .task-summary.well.well-sm= subtask.description

