.task
  .row
    .col-sm-4
      .task-index
        .task-index-line
        h1= taskIndex+1
        - var startMonth = task.startDate.locale('ro').format('MMMM')
        - var endMonth = task.endDate.locale('ro').format('MMMM')
        if (startMonth === endMonth)
          h6= task.startDate.locale('ro').format('MMMM')
        else
          h6= startMonth
            |  -  
            = endMonth
    .col-sm-8
      h1.task-title= task.name
      +taskDetails(task)
      if (task.description)
        .task-summary.well.well-sm= task.description
  br
  if (task.tasks)
    each subtask, subtaskIndex in task.tasks
      include ./subtask.jade
